<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>
            <a href="http://scr.im/3ibe">
              <span class="icon  icon--envelope">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
              c...@g...l.com
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-col  footer-col-2">
        {% if page.title != "About" %}
        <ul class="social-media-list">
        {% for item in site.social %}
          <li>
            <a rel="me" href="{{ item.url }}">
              <span class="icon  icon--{{ item.icon }}">
                <i class="fa fa-{{ item.icon }}" aria-hidden="true"></i>
              </span>

              <span class="username">{{ item.label }}</span>
            </a>
          </li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="footer-col  footer-col-3">
        {% if site.description %}
        <p class="text">{{ site.description }}</p>
        {% endif %}
      </div>
    </div>

  </div>

</footer>
