<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <script src="https://use.fontawesome.com/0fc640cab3.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="https://s.gravatar.com/avatar/5cd9689d6866c557adbfc5134867ce71?s=32">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}" />
    {% if page.description %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cilefen">
    <meta name="twitter:creator" content="@cilefen">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="https://s.gravatar.com/avatar/5cd9689d6866c557adbfc5134867ce71?s=380">
    {% endif %}
</head>
